.advantages {
  font-family: 'HelveticaNeueCyr';

  &-circle {
    @include distribute-on-circle(5, 20em, 2em);
    border: 2px solid #2f69ff;

    @include respond-below(720px) {
      transform: scale(0.55);
      margin-top: -83px;
      margin-left: -73px;
    }

    @include respond-above(1200px) {
      transform: scale(0.85);
      margin-left: -30px;
      margin-top: 20px;
    }

    @include respond-above(1920px) {
      transform: scale(1.3);
      margin-top: 102px;
      margin-left: 54px;
    }

    @include respond-above(2560px) {
      margin-top: 192px;
      transform: scale(1.7);
      margin-left: 122px;
    }

    &__element {
      width: 2em;
      border: 2px solid #2f69ff;
      background-color: #2f69ff;
      color: white;
      border-radius: 50%;

      img {
        display: block;
        width: 100%;
      }
    }

    &__text {
      width: 14em;
      color: black;
      transform: translate(53px, -24px);
      cursor: pointer;
      font-family: 'HelveticaNeueCyr-Roman';
      font-style: normal;
      font-weight: 400;

      &:hover {
        color: #2f69ff;
        font-family: 'HelveticaNeueCyr-Bold';
        font-style: normal;
        font-weight: 900;
      }

      &:focus {
        color: #2f69ff;
        font-family: 'HelveticaNeueCyr-Roman';
        font-style: normal;
        font-weight: 900;
      }
    }

    &__number {
      text-align: center;
      margin-top: 3px;
      font-family: 'HelveticaNeueCyr-Roman';
      font-style: normal;
      font-weight: 700;
    }
  }

  &__slide {
    left: 20%;
    top: 40%;
    width: 15em;
    display: none;
    font-family: 'HelveticaNeueCyr-Roman';
    font-style: normal;
    font-weight: 400;

    &--active {
      display: block;

      // color: #2f69ff
    }

    &--default {
      @include circleTitleINside(#2f69ff);
      left: -4%;
      padding: 0 50px;
      font-family: 'HelveticaNeueCyr-Black';
      text-align: center;
      text-transform: uppercase;
    }
  }
}