.result {
  background-color: rgba(47, 105, 255, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../assets/images/result-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 22%;

  @media (min-width: 1000px) {
    background-image: url(../assets/images/result-bg-max.png);
    background-position: bottom;
    background-size: contain;
  }


  &__title {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    color: $c-white;
    font-size: fluid(30, 70);
    line-height: fluid(30, 70);
    text-align: center;
    font-family: 'HelveticaNeueCyr-Black';
    font-weight: 900;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;



    @include respond-above(1280px) {
      min-height: 350px;

    }

    @include respond-above(1920px) {
      min-height: 470px;

    }

    @include respond-above(2560px) {
      min-height: 650px;
    }

    @media (min-width: 1000px) {
      flex-direction: row;
      margin: 0 50px;
    }

    @media (max-width: 1000px) {
      flex-direction: column;
      margin: 0 50px;
      justify-content: center;
      align-items: center;
      gap: 60px;
    }
  }

  &__item {
    position: relative;
    color: $c-white;
    font-family: 'HelveticaNeueCyr-Black';
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    max-width: 16em;

    @media (max-width: 1920px) {
      max-width: 11em;
    }

    @media (max-width: 1200px) {
      max-width: 16em;
    }

    &:nth-child(2) {
      top: 110px;

      @media (max-width: 1000px) {
        top: 0;
      }
    }

    &:nth-child(3) {
      top: 40px;

      @media (max-width: 1000px) {
        top: 0;
      }
    }

    &:nth-child(1) {
      .result__item-line {
        height: 28em;

        @include respond-between(1000px, 1200px) {
          height: 33em;
        }

        @include respond-above(1920px) {
          height: 45em;
        }

        @include respond-above(2560px) {
          height: 45em;
        }
      }
    }

    &:nth-child(2) {
      .result__item-line {
        height: 14em;

        @include respond-between(1000px, 1200px) {
          height: 13em;
        }
      }
    }

    &:nth-child(3) {
      .result__item-line {
        height: 17em;

        @include respond-between(1000px, 1200px) {
          height: 12em;
        }

        @include respond-above(1920px) {
          height: 15em;
        }

        @include respond-above(2560px) {
          height: 15em;
        }
      }
    }

  }

  &__item-line {
    position: absolute;
    content: '';
    height: 27em;
    width: 4px;
    top: 39px;
    left: -20px;
    background: linear-gradient(180deg, #FFFFFF 65.86%, rgba(255, 255, 255, 0) 98.82%);

    @include respond-above(1280px) {}

    @include respond-above(1920px) {
      top: 50px;
    }

    @include respond-above(2560px) {
      top: 50px;
    }

    @media (max-width: 1000px) {
      display: none;
    }



    &::before {
      content: '';
      position: absolute;
      top: -6px;
      right: -8px;
      background-color: white;
      border-radius: 50%;
      width: 20px;
      height: 20px;
    }
  }



  &__item-title {
    @include resultTitle($c-white, 900);
  }

  &__item-title::first-line {
    line-height: 40px;
  }

  &__item-descr {
    font-family: "HelveticaNeueCyr-Light";
    @include resultDescr($c-white, 300);
  }

  &__item-perсent {
    @include resultPercent($c-white, 900)
  }

  &__button {
    display: inline-block;
    background-color: $c-button;
    text-transform: uppercase;
    @include resultButton($c-white, 700);
    border-radius: 60px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1em 2em;
    font-family: "Gilroy";
    color: $c-white;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 20%);
    margin: 70px 170px 90px 0;
    align-self: end;

    @media (max-width: 1000px) {
      align-self: center;
      margin: 60px 0;
    }
  }
}