.risks {
  background-image: url('../assets/images/bg-risk.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include container();

  @include respond-above(1280px) {
    background-image: url('../assets/images/bg-risk-desktop.jpg');
  }

  &__mobile {
    @include respond-above(1280px) {
      display: none;
    }
  }

  &__desctop {
    @include respond-below(1279px) {
      display: none;
    }
  }

  &__title {
    padding-top: 1.4em;
    padding-bottom: 0.9em;
    font-family: 'HelveticaNeueCyr-Black';
    text-align: center;
    text-transform: uppercase;
    max-width: 15em;
    @include text7($c-black);

    @include respond-above(1280px) {
      max-width: 33em;
    }

    &--blue {
      color: $c-blue;
    }
  }

  &__list-title {
    background-color: $c-blue;
    border: none;
    border-radius: 60px;
    padding: 0.8em 1em;
    width: 15em;
    text-align: center;
    @include text8($c-white);

    @include respond-above(720px) {
      width: 22em;
      padding: 0.8em 4em;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 1.8em;
  }

  &__item-text {
    max-width: 33em;
    @include text8();
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 2em 0;
    max-width: 25em;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond-above(1280px) {
      padding-top: 2em;
      flex-direction: row;
    }
  }

  &__list-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__slide {
    display: none;
    gap: 3em;

    & img {
      max-width: 9.4em;
      border-radius: 30px;

      @include respond-above(1920px) {
        max-width: 15.6em;
      }

      @include respond-above(2560px) {
        max-width: 18.4em;
      }
    }

    &--active {
      display: flex;
    }
  }

  &__text-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;

    @include respond-above(1920px) {
      gap: 1.5em;
    }

    @include respond-above(2560px) {
      gap: 3.2em;
    }
  }

  &__text-list-item {
    display: flex;
    background-color: $radioBtn;
    border-radius: 60px;
    width: 100%;
    padding: 1em 1em;
    height: 3.2em;
    align-items: center;
    overflow: hidden;
    position: relative;
    gap: 5.5em;
    width: 100%;

    &::before {
      content: '';
      position: absolute;
      width: 9em;
      height: 4em;
      background: #2f69ff;
      left: -2em;
      top: -1em;
      rotate: -50deg;
    }

    & img {
      display: flex;
      z-index: 1;
      height: 1.7em;
      border-radius: 0;
    }

    @include respond-above(1920px) {
      padding: 2.1em 1em;
    }

    @include respond-above(2560px) {
      padding: 2.8em 1em;
    }
  }

  &__more {
    font-family: 'HelveticaNeueCyr-Bold';
    border: none;
    @include text4($c-white);
    padding: 0.7em 5em;
    background-color: $c-accentOrange;
    border-radius: 70px;
    text-transform: uppercase;
    cursor: pointer;
    align-self: center;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    margin: 4em 0;
    max-width: 22em;

    @include respond-above(1280px) {
      padding: 1.3em 5.5em;
      align-self: end;
    }
  }

  &__radio-btns {
    display: flex;
    border: none;
    gap: 3em;
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: space-between;

    @include respond-above(2560px) {
      &:first-child {
        & button {
          & span {
            &:before {
              top: 50%;
              left: 14.4%;
            }
          }
        }
      }
    }
  }

  &__radio-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $radioBtn;
    font-family: 'HelveticaNeueCyr-Bold';
    border: none;
    border-radius: 60px;
    padding: 0.8em 2.1em 0.8em 2em;
    width: 20em;
    cursor: pointer;
    text-align: left;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);

    @include text8($c-black);

    & input {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }

    &--active {
      background-color: $c-blue;
      color: $c-white;
    }
  }

  &__radio-label {
    max-width: 12em;
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
  }

  &__checkbox {
    display: inline-block;
    width: 2em;
    height: 2em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 0.3em solid $radioBtnCheckBox;
    border-radius: 50%;
    position: relative;

    &--active {
      border-color: $c-white;

      &::before {
        position: absolute;
        content: '';
        width: 1em;
        height: 1em;
        transform: translateY(-50%);
        top: 50%;
        left: 16.3%;
        border-radius: 50%;
        background-color: #fff;

        @include respond-above(2560px) {
          top: 50%;
          left: 14.8%;
        }
      }
    }
  }
}
