<ul class="advantages-circle">
  <li class="advantages-circle__element">
    <p class="advantages-circle__number">5</p>
    <p class="advantages-circle__text">
      Подготовка к промышленной эксплуатации
    </p>
  </li>
  <li class="advantages-circle__element">
    <p class="advantages-circle__number">4</p>
    <p class="advantages-circle__text">Внедрение в ИТ-ландшафт</p>
  </li>
  <li class="advantages-circle__element">
    <p class="advantages-circle__number">3</p>
    <p class="advantages-circle__text">Полномасштабное развёртывание</p>
  </li>
  <li class="advantages-circle__element">
    <p class="advantages-circle__number">2</p>
    <p class="advantages-circle__text">Разработка проектного решения</p>
  </li>
  <li class="advantages-circle__element">
    <p class="advantages-circle__number">1</p>
    <p class="advantages-circle__text">Пилотное внедрение</p>
  </li>
  <!-- Слайды -->

  <li class="advantages__slide">
    Разработаем полный пакет документации, обучим сотрудников и будем
    сопровождать работу системы столько, сколько потребуется
  </li>
  <li class="advantages__slide">
    Сами детализируем требования для интеграции, разработаем необходимые
    коннекторы и алгоритмы, подключим источники данных
  </li>
  <li class="advantages__slide">
    Инсталлируем систему в отказоустойчивой конфигурации с учётом лучших практик
    и ваших корпоративных стандартов
  </li>
  <li class="advantages__slide">
    Определим оптимальную архитектуру системы под ваши задачи и профиль нагрузки
  </li>
  <li class="advantages__slide">
    Мы быстро развернём систему в базовой конфигурации и вы получите видимый
    результат уже через 4 недели
  </li>
  <li
    class="advantages__slide advantages__slide--default advantages__slide--active"
  >
    Этапы <br />
    внедрения
    <img src="../assets/icons/logo-grey.svg" alt="" />
  </li>
</ul>
