<section class="consult" id="get">
  <div class="consult__container">
    
    <form class="consult__form" id="form">
      <div>
        <div class="consult__in-half--name">
          <div class="relative relative--name">
            <input
              aria-label="Имя"
              id="name"
              class="consult__input consult__input--name"
              name="name"
              type="text"
              placeholder="Имя, фамилия*"
              autocomplete="off"
              required
              minlength="2"
            />
            <span class="star">*</span>
            <p class="consult__invalidText consult__invalidText--name">
              Необходимо заполнить поле “Имя, Фамилия”
            </p>
          </div>
          
        </div>
      </div>
      <div class="relative">
        <input
          aria-label="Название организации"
          class="consult__input"
          name="organization"
          type="text"
          placeholder="Компания*"
          required
          minlength="3"
        />
        <span class="star">*</span>
        <p class="consult__invalidText">
          Необходимо заполнить поле “Компания”
        </p>
      </div>
      <div class="relative">
        <input
          class="consult__input"
          name="phone"
          data-tel-input
          type="tel"
          placeholder="Телефон*"
          pattern="\+7\s?[\(]{0,1}9[0-9]{2}[\)]{0,1}\s?\d{3}[-]{0,1}\d{2}[-]{0,1}\d{2}"
          required
        />
        <span class="star">*</span>

        <p class="consult__invalidText">Необходимо заполнить поле “Телефон”</p>
      </div>
      <div class="relative">
        <input
          class="consult__input"
          name="email"
          type="email"
          placeholder="Электронная почта*"
          required
        />
        <span class="star">*</span>

        <p class="consult__invalidText">
          Необходимо заполнить поле “Электронная почта”
        </p>
      </div>
      <div class="consult__in-half">
        <label class="consult__checkbox-label">
          <input
          class="_visuallyhidden checkbox"
          name="agreement"
          value="yes"
          type="checkbox"
          required
          />
          <span class="consult__circle"></span>
          <a href="/policy.pdf" target="_blank">
            <span class="consult__label-text"
            >Согласен на обработку персональных данных</span
            >
          </a>
        </label>
        <button class="consult__button disabled" type="submit">
          Заказать презентацию решения <br> и спланировать пилот
        </button>
      </div>
    </form>
  </div>
</section>
