<header class="header">
  <div class="header__wrapper">
    <nav class="header__nav">
     
      <div class="header__inner">
        <img class="header__logo" src="../assets/icons/lanit_logo.svg" alt="логотип ланит" />

        <div class="header__right-side">
          <a class="header__phone--near-menu" href="tel:+74959676657">+7 (495) 967 66 57</a>
          <div class="header__menu-burger" id="menu">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>

<ul class="header__menu">
  <div class="header__inner header__inner--burger">
    <a class="header__phone" href="tel:+74959676657">+7 (495) 967 66 57</a>
    <img class="header__logo" src="../assets/icons/lanit_logo.svg" alt="логотип ланит" />
    <div class="header__menu-burger header__menu-burger--close header__menu-burger--active" >
        <span></span>
        <span></span>
        <span></span>
    </div>
  </div>
  <li class="header__menu-item">
    <a href="#risks">Ваши риски ИТ</a>
    <hr class="header__menu-divider" />
  </li>
  <li class="header__menu-item">
    <a href="#whyMonq">Почему MONQ</a>
    <hr class="header__menu-divider" />
  </li>
  <li class="header__menu-item">
    <a href="#integration">Как правильно</br> внедрить систему</a>
    <hr class="header__menu-divider" />
  </li>
  <li class="header__menu-item">
    <a href="#result">Результаты</br> внедрения MONQ</a>
    <hr class="header__menu-divider" />
  </li>
  <li class="header__menu-item">
    <a href="#monitoring">Оставить заявку</a>
  </li>
</ul>
