<section class="integration" id="integration">
  <div class="integration__titleContainer">
    <h1 class="integration__title">
      Максимальная отдача <br />
      при профессиональном внедрении системы
    </h1>
    <p class="integration__descr">
      Компания ЛАНИТ-Интеграция – эксперт в реализации высокотехнологичных
      проектов. <br />
      Мы внедряем эффективные ИТ-решения с учётом приоритетов и ресурсов наших
      клиентов.
    </p>
  </div>

  <div class="integration__circle">
    <div class="integration__circle-container">
      <%-include('./integrationCircleTextDesctop.ejs');%>
      <%-include('./integrationCircleText.ejs'); %>
      <%-include('./circle.ejs');%>
    </div>
    <button class="integration__button openModalBtn">
      Получить консультацию
    </button>
  </div>
</section>
