<div class="monitoring__control" id="monitoring">
  <img
    src="../assets/images/control-image.png"
    class="monitoring__control-img"
    alt="картинка с кругом"
  />
</div>
<div class="monitoring__form"><%- include('./form.ejs'); %></div>
