<section class="whyMonq" id="whyMonq">
  <div class="whyMonq__header">
    <h2 class="whyMonq__title">Почему MONQ?</h2>
    <p class="whyMonq__subtitle">
      MONQ – платформа для моментального обнаружения и анализа событий на базе технологий
      искусственного интеллекта. Решение позволяет предсказывать сбои в ИТ или оперативно устранять
      их последствия.
    </p>
  </div>
  <div class="whyMonq__mobile">
    <img src="../assets/images/whyMonq.png" alt="" />
    <div class="whyMonq__content-list">
      <div class="whyMonq__content-item">
        <span></span>
        <p class="whyMonq__item-text">Информация о здоровье сервисов на одном экране без «шума»</p>
      </div>
      <div class="whyMonq__content-item">
        <span></span>
        <p>Удобные инструменты конфигурирования Low-code</p>
      </div>
      <div class="whyMonq__content-item">
        <span></span>
        <p>Передовая масштабируемая архитектура</p>
      </div>
      <div class="whyMonq__content-item">
        <span></span>
        <p class="whyMonq__item-text">
          В основе современные технологии: Kubernetes, RabbitMQ и ClickHouse
        </p>
      </div>
      <div class="whyMonq__content-item">
        <span></span>
        <p class="whyMonq__item-text">
          Возможность интеграции с любыми системами мониторинга (Dynatrace, Jager, PRTG, SCOM,
          Zabbix, Nagios и другими)
        </p>
      </div>
      <div class="whyMonq__content-item">
        <span></span>
        <p class="whyMonq__item-text">
          Техподдержка в России и на русском языке, продукт в реестре отечественного ПО
        </p>
      </div>
    </div>
  </div>

  <div class="whyMonq__desktop">
    <div class="whyMonq__desktop-list whyMonq__desktop-list--left">
      <div class="whyMonq__content-item">
        <span></span>
        <p>Информация о здоровье сервисов на одном экране без «шума»</p>
      </div>
      <div class="whyMonq__content-item">
        <span></span>
        <p>Удобные инструменты конфигурирования Low-code</p>
      </div>
      <div class="whyMonq__content-item">
        <span></span>
        <p>Передовая масштабируемая архитектура</p>
      </div>
    </div>
    <img src="../assets/images/whyMonqLogo.png" alt="" />
    <div class="whyMonq__desktop-list whyMonq__desktop-list--right">
      <div class="whyMonq__content-item">
        <p>В основе современные технологии: Kubernetes, RabbitMQ и ClickHouse</p>
        <span></span>
      </div>
      <div class="whyMonq__content-item">
        <p>
          Возможность интеграции с любыми системами мониторинга (Dynatrace, Jager, PRTG, SCOM,
          Zabbix, Nagios и другими)
        </p>
        <span></span>
      </div>
      <div class="whyMonq__content-item">
        <p>Техподдержка в России и на русском языке, продукт в реестре отечественного ПО</p>
        <span></span>
      </div>
    </div>
  </div>

  <button class="whyMonq__more openModalBtn">Узнать больше о платформе</button>
  <div class="whyMonq__footer">
    <p class="whyMonq__footer-text">MONQ решает задачи на уровне лучших зарубежных платформ</p>
    <div class="whyMonq__logo-list">
      <img class="whyMonq__logo-item" src="../assets/icons/MicroFocusLogo.svg" alt="" />
      <img class="whyMonq__logo-item" src="../assets/icons/BMC.svg" alt="" />
      <img class="whyMonq__logo-item" src="../assets/icons/Broadcom.svg" alt="" />
      <img class="whyMonq__logo-item" src="../assets/icons/IBM.svg" alt="" />
      <img class="whyMonq__logo-item" src="../assets/icons/Splunk.svg" alt="" />
      <img class="whyMonq__logo-item" src="../assets/icons/elastic.svg" alt="" />
    </div>
  </div>
</section>
