// font
$mainFont: 'HelveticaNeueCyr-Roman',
Helvetica,
Arial,
sans-serif;

//Font Size
$fs-90: rem(90);
$fs-85: rem(85);
$fs-80: rem(80);
$fs-70: rem(70);
$fs-60: rem(60);
$fs-50: rem(50);
$fs-45: rem(45);
$fs-40: rem(40);
$fs-35: rem(35);
$fs-30: rem(30);
$fs-25: rem(25);
$fs-20: rem(20);
$fs-18: rem(18);
$fs-17: rem(17);
$fs-16: rem(16);
$fs-15: rem(15);
$fs-13: rem(13);
$fs-12: rem(12);
$fs-11: rem(11);

// Size
$mainFontSize: 18px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

$maxdesktopWidth: 2560px;
$DesktopWidth: 1920px;
$smDesktopWidth: 1280px;
$tableWidth: 720px;
$phoneWidth: 480px;
$smPhoneWidth: 375px;

// Main Color
$mainFontColor: #646464;
$closeModalBtn: #cccccc;
$radioBtn: #dcdcdc;
$radioBtnCheckBox: #aaaaaa;
$modalBg: #f8f8f8;
$c-white: #ffffff;
$c-black: #000000;
$c-dark: #333333;
$c-light: #f5f5f5;
$c-grey: #f3f3f3;
$c-blue: #2f69ff;
$c-accentOrange: rgba(255, 146, 46, 0.93);
$c-lightGrey: #cdcdcd;
$c-darkGrey: #b1b1b1;
$c-silver: #aca6a6;
$c-lightSelver: #a3a3a3;
$c-opacityGrey: #e2dddd33;
$c-borderGrey: #c1c1c1;
$c-lightGrey: #9e9e9e;
$c-textGrey: #aaaaaa;
$c-activeDark: #060606;
$c-bgFooter: #161616;
$c-hoverOrange: #e49d04;
$c-error: #ff000f;
$c-sliderPrev: #b9b9b9;
$c-sliderPrevBtn: #9e9e9e44;
$c-sliderPrevBtns: #b11b1b44;
$c-controlBorder: #999b9d;
$c-button: #ff922e;